
@{
    ViewBag.Title = "装修表单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Fitment> list = ViewBag.List;
    FitmentParameter Parameter = ViewBag.Parameter;
}

<h2>
    &nbsp; 装修表单
    <a class="btn btn-primary" href="/Fitment/create" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp; 创建表单</a>    
</h2>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2 well">
            <fieldset><legend>查询设置</legend></fieldset>
            <form method="get">
                <div class="form-group">
                    <label class="control-label">&nbsp;户名：</label>
                    <div class="col-md-12">
                        <div class="input-group input-group-sm" role="group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-@(string.IsNullOrEmpty(Parameter.Name)?"success":"default")" name="Name">全部</button>
                            </div>
                            <input type="text" name="Name" class="form-control" placeholder="户名关键字" @(Parameter.Name)/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">&nbsp;编号：</label>
                    <div class="col-md-12">
                        <div class="input-group input-group-sm" role="group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-@(string.IsNullOrEmpty(Parameter.Number)?"success":"default")" name="Number">全部</button>
                            </div>
                            <input type="text" name="Number" class="form-control" placeholder="户名关键字" value="@(Parameter.Number)" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">&nbsp;查询：</label>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-search"></i>&nbsp;立即查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>户名</th>
                        <th>编号</th>
                        <th>地址</th>
                        <th>所属城市</th>
                        @if (Identity.Role == UserRole.Administrator)
                        {
                            <th>创建者</th>
                        }
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in list)
                    {
                        <tr>
                            <td>
                                <a href="/Fitment/Detail?id=@(item.ID)">@(item.Name)</a>
                            </td>
                            <td>@(item.Number)</td>
                            <td>@(item.Address)</td>
                            <td>@(item.City!=null?item.City.Name:"未获取城市信息")</td>
                            @if (Identity.Role == UserRole.Administrator)
                            {
                            <td>@(item.User.DisplayName)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            @{ 
                Html.RenderPartial("_pagination", Parameter.Page as object);
            }
        </div>
    </div>
</div>



